node_modules
.git
.gitignore
README.md
Dockerfile
.dockerignore
coverage
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.DS_Store
.vscode/
.vs/
*.log
dist
build
.nyc_output
test
*.test.ts
*.spec.ts
jest.config.ts
*.tsbuildinfo